.laatikko {
    width: 100%;
}

.valikko {
    height: 15%;
    background-color: solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.otsikko {
    font-size: 24px;
    color: solid #000000;
}

.linkkivalikko {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.linkkivalikko li {
    margin: 0 10px;
  }
  
.linkkivalikko a {
    text-decoration: none;
    color: solid #000000;
}

.tyhjennaLinkkiPainike {
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #880000;
    cursor: pointer;
}

#leffaAPP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leffaInfo {
    flex: 1 0 48%;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .leffaInfo img {
        max-width: 100px;
        margin-right: 10px;
    }
}